* {
    margin: 0;
}

body {
    background-color:#BA4949;
    overflow-x: hidden;
}
.container {
    max-width:1660px;
    height: 100vh;
    display:flex;
    justify-content: center;
    padding-top:50px;
    background-color: #BA4949;
}

.wrapper {
    max-width: 450px;
    height: 300px;
    background-color: #C15C5C;
    padding:15px;
    display:flex;
    flex-direction: column;
    
    
}


.inline-buttons {
    display:flex;
    gap:25px;
    justify-content: center;
}

.inline-buttons h2 {
    font-size:17px;
    color:white;
}

a {
    text-decoration: none;
}


.midle-row {
    width: 450px;
    height: 200px;
    justify-content: center;
    display:flex;
    align-items: center;
}

.midle-row h2 {
    color:white;
    font-size:100px;
}

.button_start {
    width:450px;
    height: 100px;
    display:flex;
    justify-content: center;
}
/* 
.button_start button {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
} */

.btn_start {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
}

.btn_start:hover {
    opacity: 0.9;
}

.btn_start:active {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transform: translateY(6px);
    box-shadow: none;
    transition: color 0.5s ease-in-out 0s;
}

/* .button_start button:hover {
    opacity: 0.9;
} */

/* .button_start button:active {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transform: translateY(6px);
    box-shadow: none;
    transition: color 0.5s ease-in-out 0s;
} */


.secounds h2 {
    font-size:100px;
    color:white;
}

.text_pomodoro {
    background-color: #A44E4E;
    padding:5px;

}


.short_break {
    padding:5px;
}



.long_break {
    padding:5px;
}



.header {
    padding:10px;
    max-width:1660px;
    height: 6vh;
    background-color: #BA4949;
    display:flex;
    justify-content: center;
    color:white;
    align-items:center;
}


.buttons button {
    background-color: #C66A6A;
    border-color:#C66A6A;
    border-style:solid;
    color:#F8EDED;
    padding:5px 10px;
    font-size:14px;
}


.inline-header {
    display:flex;
    gap:250px;
    border-bottom: 1.5px solid #A74242;
    padding-bottom:10px;
}


.btn_tasks {
    margin-left:5px;
    cursor: pointer;
}

.btn_tasks:hover {
    color:white;
    transition: .2s linear;
}


.btn_settings {
    margin-left:10px;
    cursor: pointer;
}

.btn_settings:hover {
    color:white;
    transition: .2s linear;
}

.btn_login {
    margin-left:10px;
    cursor: pointer;
}

.btn_login:hover {
    color:white;
    transition: .2s linear;
}

.hide {
    display:none;
}

.button_skip {
    margin-top:15px;
    width:450px;
    height: 50px;
    display:flex;
    justify-content: center;
    
}


.btn_skip {
    margin-top:5px;
    width:30px;
    height: 30px;
    background-color: #FFF;
    border-color:#fff;
    border-style:solid;
}

.btn_skip:hover {
    opacity: 0.7;
    transition: all .1s linear;
}

.btn_skip:active {
    color:#BA4949;
}
  

.icls {
    margin-right:0.3px;
}

.icon {
    display:flex;
    align-items:center;
}


.icls4 {
    margin-left:5px;
}


a {
    color:white;
    text-decoration: none;
}